<section class="row">
    <div class="col-6 p-5">
<img src="https://img.freepik.com/vector-gratis/marketing-correo-electronico-chat-internet-soporte-24-horas-pongase-contacto-inicie-contacto-contactenos-formulario-comentarios-linea-hable-concepto-clientes_335657-25.jpg?w=2000" 
width="500" height="500"
alt="">
    </div>
    <div class="col-6 mt-5 rounded-4 shadow-lg">
        <form class="p-5 ">
            <fieldset>
              <legend>Contactenos para mayor información</legend>
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Nombres y a pellidos:</label>
                <input type="text"  class="form-control" placeholder="Nombres y apellidos">
              </div>
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Correo electronico:</label>
                <input type="email"  class="form-control" placeholder="Correo electronico">
              </div>
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Telefono:</label>
                <input type="text"  class="form-control" placeholder="Telefono">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Asunto:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escite tu mensaje......."></textarea>
              </div>
             <div class="d-flex justify-content-center pt-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
             </div>
            </fieldset>
          </form>
    </div>
</section>
