<section class="row">
    <div class="col-6 p-5">
<img src="https://img.freepik.com/vector-gratis/marketing-correo-electronico-chat-internet-soporte-24-horas-pongase-contacto-inicie-contacto-contactenos-formulario-comentarios-linea-hable-concepto-clientes_335657-25.jpg?w=2000" 
width="500"
alt="">
    </div>
    <div class="col-6 p-5">
        <form>
            <fieldset>
              <legend>Contactenos para mayor información</legend>
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Nombres y a pellidos:</label>
                <input type="text"  class="form-control" placeholder="Nombres y apellidos">
              </div>
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Correo electronico:</label>
                <input type="email"  class="form-control" placeholder="Correo electronico">
              </div>
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Telefono:</label>
                <input type="text"  class="form-control" placeholder="Telefono">
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                  <label class="form-check-label" for="disabledFieldsetCheck">
                    Can't check this
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
    </div>
</section>
