<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center mt-5"> 
    <div class="col-12 col-md-4 seccion-titulo text-center">
      ¡Ubicacanos!
    </div>
    <p class="footer-texto text-center">Av.centeario km 7.200 Mz.1 Lt.1.<br>Pucallpa-Ucayali-Perú. <br><i class="bi bi-phone"></i> 966 852 654</p>
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
      <a href="#" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-facebook"></i>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-envelope"></i>
      </a>
    </div>
    <div class="derechos-de-autor">Creado por Isaias Ibarra Onofre (2022) &#169;</div>
  </footer>
