<section class="row pt-5">
  <div class="col-12">
    <img src="https://imagenes.20minutos.es/files/og_thumbnail/uploads/imagenes/2022/07/14/ficha-pastor-aleman.jpeg" 
    width="1300"
    alt="" >
  </div>
  <div class="col-12 mt-4">
    La primera regla de oro que debes tener en cuenta para conocer Mundo Perro
    es que está formado por un grupo de jóvenes amantes de los perros, esos
    animalitos de cuatro patas que tanto bien nos hacen. Sin embargo, creemos
    que hay que dar un paso más. Sabemos de sobra ese dicho que dice que "el
    perro es el mejor amigo del hombre", ¿verdad? Todos y cada uno de nosotros
    podemos identificarla, pero ¿qué hay de nuestros mejores amigos los perros?
    ¿Qué podemos hacer nosotros los humanos por ellos? ¿Tienen todos los
    cuidados que necesitan? ¿Qué podemos hacer con respecto a su educación,
    conducta, o salud? Con esta premisa nació Mundo Pero en el caluroso verano
    de 2008. Desde entonces hasta hoy no hemos dejado de preguntarnos cómo
    mejorar su calidad de vida.
  </div>
</section>
